* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 992px) {
  body {
    background-color: rgba(255, 102, 0, 0.8);
  }

  ul {
    text-align: center;
    margin-top: 25px;
  }

  li {
    display: inline;
    padding: 10px;
    font-size: 1.5rem;
  }

  .images {
    background-image: url("https://picsum.photos/id/431/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 40%;
    height: 300px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 991px) {
  body {
    background-color: aqua;
  }

  ul {
    text-align: center;
    margin-top: 30px;
  }

  li {
    display: inline;
    padding: 10px;
    font-size: 1.5rem;
  }

  .images {
    background-image: url("https://picsum.photos/id/42/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 40%;
    height: 300px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-color: purple;
  }

  ul {
    text-align: center;
    margin-top: 30px;
  }

  li {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
  }

  .images {
    background-image: url("https://picsum.photos/id/633/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 40%;
    height: 300px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: green;
  }

  ul {
    text-align: center;
    margin-top: 30px;
  }

  li {
    display: block;
    padding: 10px;
    font-size: 1.5rem;
  }

  .images {
    background-image: url("https://picsum.photos/id/1067/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 40%;
    height: 300px;
    margin-top: 15px;
  }
}
